@use '../others/variables.scss' as *;

.bible-view {
  min-width: 200px;

  .card-header {
    .bible-extra-key:hover {
      text-decoration: underline;
      color: red;
    }

    .btn-close {
      margin: 5px;
    }

    .input-group-text {
      padding: 0;
      background-color: transparent;

      .form-select {
        padding: 0;
        padding-left: 5px;
        padding-right: 25px;
      }
    }
  }

  .card-body {
    .btn.active {
      border: 1px dashed $hight-light-color;
    }
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bible-view-text {
    .new-line-title {
      display: inline-block;
      font-weight: bold;
      padding: 0.6em 0.4em;
      font-size: 1.1em;
    }
    .verse-number,
    .verse-text {
      display: inline;
    }

    .verse-number {
      &.extra-verses {
        display: block;
        margin-top: 5px;
      }
      div {
        display: inline-block;
        transform: scale(0.7) translateY(-0.3em);
        opacity: 0.7;
        &.verse-number-rest {
          opacity: 0.1;
          pointer-events: none;
          padding: 0;
          margin: 0 2px;
          line-height: 0;
        }
      }
    }

    .verse-text {
      &.extra-verses {
        display: inline-block;
        &.selected {
          background: rgba(220, 0, 198, 0.2) !important;
        }
        .text {
          &::before {
            content: '.: ';
            opacity: 0.1;
          }
          div {
            &.rtl {
              direction: rtl;
            }
            display: inline;
          }
        }
      }
      .verse-audio {
        display: none;
      }
      audio {
        &::-webkit-media-controls-current-time-display,
        &::-webkit-media-controls-time-remaining-display {
          display: none;
        }
        vertical-align: middle;
        margin: 0;
        max-width: 200px;
        max-height: 20px;
      }

      &.selected {
        .verse-audio {
          display: inline-block;
        }
      }
    }
  }
}

