.slide-editor {
  margin: 0;
  padding: 0;

  .editor-container {
    overflow: auto;
    padding: 0px;
    margin: 0;

    .editor {
      overflow: hidden;
      padding: 0;
    }
  }

  .card-footer {
    padding: 0;
    .body {
      min-height: 200px;
      padding: 5px;
    }
  }
}
