@use '../others/variables.scss' as *;

#slide-editor-popup {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);

  .header {
    height: $header-height;
  }
  .body {
    height: calc(100% - #{$header-height});
  }
}
