.app-background-image {
  .image-thumbnail {
    margin: 2px;
    cursor: pointer;

    .card-body {
      padding: 0 !important;
    }
    .card-footer {
      font-size: 10px;
      white-space: nowrap;
      text-align: right;
      padding: 0 !important;
    }
  }
}
