.app-background-video {
  .video-thumbnail {
    margin: 2px;
    cursor: pointer;

    .card-body {
      padding: 0 !important;

      video {
        width: 100%;
      }
    }

    .card-footer {
      font-size: 10px;
      white-space: nowrap;
      text-align: right;
      padding: 0 !important;
    }
  }
}
