@use '../../../others/variables.scss' as *;

.app-tools {
  .tools-header {
    height: $header-height;
  }

  .tools-body {
    overflow: hidden;

    .tool {
      height: 100%;
      overflow: auto;
      padding: 2px 3px;
    }
  }

  .canvas-board-size-container {
    border-radius: var(--bs-border-radius);
  }
}
