@use '../others/variables.scss' as *;

.flex-resize-actor {
  flex: 0 0 5px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;

  .mover {
    position: fixed;
    transform: translate(-45%, -45%);

    .disabling-arrow {
      transition: opacity 0.2s ease-in;
      display: none;
      cursor: pointer;
      opacity: 0.1;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &.attempt {
    z-index: $z-index-resize-actor-top;

    .mover {
      .disabling-arrow {
        display: block;
      }
    }
  }

  &.active {
    .mover {
      .disabling-arrow {
        opacity: 0;
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  &.v {
    background-size: 10px;

    &.attempt {
      cursor: ns-resize;
    }
  }

  &.h {
    background-size: 5px;

    &.attempt {
      cursor: ew-resize;
    }
  }
}
