.slide-previewer {
  & > .card-footer {
    height: 40px;

    .history {
      overflow: hidden;
      white-space: nowrap;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .editing-menu {
    background-color: var(--bs-gray-900);
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .editing-menu-body {
      width: 200px;
      padding: 2px;
      .btn {
        padding-top: 2 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
