.data-vary-app-document-item {
  display: inline-block;
  margin: 2px;
  border: 1px solid transparent;
  cursor: pointer;

  &:not(.app-highlight-selected):not(.active):hover {
    border: 1px dotted var(--bs-gray-500);
  }

  .vary-app-document-item-header {
    height: 35px !important;
    border-bottom-width: 2px;
  }

  .index {
    padding: 2px;
    border-radius: 2px 2px 0 0;
    font-size: 10px;

    span {
      float: right;
    }
  }
}
