.data-vary-app-document-item {
  display: inline-block;
  margin: 2px;
  cursor: pointer;

  .vary-app-document-item-header {
    height: 35px !important;
    border-bottom-width: 2px;
  }

  .index {
    padding: 2px;
    border-radius: 2px 2px 0 0;
    font-size: 10px;

    span {
      float: right;
    }
  }
}
