@use '../others/variables.scss' as *;

.app-top-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: $z-index-progress-bar;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.2s ease-in;
  opacity: 0.5;
  backdrop-filter: blur(5px);
  .progress-bar-content-text {
    display: none;
    margin: auto;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    color: $hight-light-color;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
  }
  &:hover {
    height: 20px;
    opacity: 1;
    .progress-bar-content-text {
      display: flex;
    }
  }
}
