.path-selector {
  cursor: pointer;

  .path-previewer {
    display: flex;
  }

  .app-add-items-button {
    border-radius: var(--bs-border-radius);
    padding: 0;
    &:hover {
      color: green;
    }
  }

  margin-bottom: 5px;
}
