@use './variables.scss' as *;

$dragging-color-full: rgb(0, 117, 109);
$resizer-color: rgb(123, 173, 205);

#app[data-bs-theme='light'] {
  --app-color-presenter: #877000;
  --app-color-reader: #81006c;
  --app-yellow-green: rgb(118, 178, 0);

  background-color: var(--bs-gray-200);
  color: black;

  // Start: Bootstrap

  .btn {
    border: 1px solid var(--bs-gray-400);
  }

  .receiving-data-drop {
    border: 1px solid $dragging-color-full !important;
    box-sizing: content-box;
  }

  .receiving-data-drop-left {
    border-left: 1px dashed var(--app-yellow-green) !important;
  }

  .receiving-data-drop-right {
    border-right: 1px dashed var(--app-yellow-green) !important;
  }

  .receiving-data-drop-top {
    border-top: 1px dashed var(--app-yellow-green) !important;
  }

  .receiving-data-drop-bottom {
    border-bottom: 1px dotted var(--app-yellow-green) !important;
  }

  .list-group-item {
    border: 1px solid var(--bs-gray-300);

    &:not(.active):hover {
      border: 1px solid #04204b83;
    }

    &.active {
      background-color: var(--bs-gray-200);
      border-color: var(--bs-gray-300);
      color: var(--bs-list-group-color);
    }
  }

  // End: Bootstrap

  .toast-body {
    word-wrap: break-word;
  }

  .active .text-muted,
  .btn:hover .text-muted {
    color: rgb(211, 211, 211) !important;
  }

  & #app-header {
    .app-highlight-border-bottom {
      border-bottom: 1px solid var(--bs-gray-400);
    }
  }

  & #app-body {
    background-color: var(--bs-gray-300);
  }

  #app-context-menu-container {
    .app-context-menu {
      background-color: var(--bs-gray-400);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);

      .app-context-menu-item {
        &:hover:not(.disabled) {
          background-color: var(--bs-gray-300);
        }

        &:hover {
          background: var(--bs-gray-300);
        }
      }
    }
  }

  .app-auto-hide {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .data-vary-app-document-item {
    background-color: var(--bs-gray-200);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);

    &.active {
      border: 2px solid var(--bs-gray-700);
    }

    .vary-app-document-item-header {
      background-color: var(--bs-gray-200);
    }

    &.app-highlight-selected {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.048);

      .card-header {
        background-color: rgba(0, 50, 50, 0.378);
      }

      .index {
        background-color: rgba(0, 53, 53, 0.513);
      }
    }

    &:not(.app-highlight-selected):not(.active):hover {
      border: 1px dotted var(--bs-gray-500);
    }

    .index {
      background-color: rgba(164, 164, 164, 0.418);
    }
  }

  .app-hidden-widget {
    $bg-color: var(--bs-gray-400);
    $bg-color-hover: var(--bs-gray-500);
    $color: var(--bs-gray-200);

    background: repeating-linear-gradient(
      45deg,
      $color,
      $color 4px,
      $bg-color 2px,
      $bg-color 8px
    );

    &:hover {
      background: repeating-linear-gradient(
        45deg,
        $color,
        $color 4px,
        $bg-color-hover 2px,
        $bg-color-hover 8px
      );

      * {
        color: var(--bs-gray-900);
      }
    }

    * {
      color: var(--bs-gray-600);
    }
  }

  .presenter-manager {
    & > .body {
      background-color: var(--bs-gray-100);
    }
  }

  .app-border-white-round {
    border: 1px solid var(--bs-gray-400);
  }
  .app-border-whiter-round {
    border: 1px dashed var(--bs-gray-600);
  }
  .app-border-bottom-white-round {
    border-bottom: 1px solid var(--bs-gray-400);
  }

  .app-full-view {
    background-color: var(--bs-gray-100) !important;
  }

  .app-round-icon {
    background-color: var(--bs-gray-400);
  }

  $bg-color1: var(--bs-gray-400);
  $bg-color2: var(--bs-gray-300);
  .app-blank-bg {
    background-image:
      linear-gradient(45deg, $bg-color1 25%, $bg-color2 25%),
      linear-gradient(-45deg, $bg-color1 25%, $bg-color2 25%),
      linear-gradient(45deg, $bg-color2 75%, $bg-color1 75%),
      linear-gradient(-45deg, $bg-color2 75%, $bg-color1 75%);
  }

  .flex-resize-actor {
    background: var(--bs-gray-100);
    background-repeat: no-repeat;
    background-position: center;

    &.active {
      background-color: $resizer-color;
    }

    &.v {
      border-top: 1px solid var(--bs-gray-100);
      border-bottom: 1px solid var(--bs-gray-100);
      background-image: url(/assets/move-v-icon.svg);

      &.active {
        border-left: 1px dashed var(--app-yellow-green);
        padding-right: 1px dashed var(--app-yellow-green);
      }
    }

    &.h {
      border-left: 1px solid var(--bs-gray-100);
      border-right: 1px solid var(--bs-gray-100);
      background-image: url(/assets/move-h-icon.svg);

      &.active {
        border-top: 1px dashed var(--app-yellow-green);
        padding-bottom: 1px dashed var(--app-yellow-green);
      }
    }
  }

  .slide-editor {
    .editor-container {
      box-shadow: inset 0 0 6px rgb(255, 255, 255);
      background-color: var(--bs-gray-100);
    }

    .card-footer {
      background-color: var(--bs-gray-200);
      .body {
        background-color: var(--bs-gray-300);
      }
    }
  }

  .app-tools {
    .tools-header {
      background-color: var(--bs-gray-200);
    }

    .tools-body {
      background-color: var(--bs-gray-100);

      .tool {
        border: 1px solid rgba(159, 159, 159, 0.109);
        background-color: var(--bs-gray-200);
      }
    }

    .canvas-board-size-container {
      background-color: var(--bs-gray-100);
    }
  }

  .color-picker {
    background-color: var(--bs-gray-300);
    border: 1px solid var(--bs-gray-200);
    .text-color-preview {
      text-shadow:
        0 0 2px var(--bs-gray-100),
        0 0 2px var(--bs-gray-100);
    }
  }

  .playlist-list {
    .card-body {
      .playlist-file {
        &:hover {
          border: 1px solid var(--bs-gray-200);
        }
      }
    }
  }

  #app-setting {
    .lang {
      .options {
        background-color: var(--bs-gray-200);
      }
    }
  }

  .bible-view {
    .card-header {
      .input-group-text {
        .form-select {
          background-color: var(--bs-gray-200);
        }
      }
    }

    .bible-view-text {
      .verse-number {
        &.extra-verses {
          border-top: 3px solid rgba(0, 0, 0, 0.121);
        }
        div {
          color: rgba(62, 104, 0, 0.878);
        }
      }

      .verse-text {
        &:hover {
          border-bottom: 0.01em dashed rgba(134, 134, 134, 0.431);
        }

        &.selected {
          background: linear-gradient(
            transparent,
            transparent,
            rgba(209, 52, 194, 0.304),
            transparent
          );
        }
      }
    }
  }

  #modal-container {
    & > div:first-child {
      background-color: var(--bs-gray-200);
    }
  }

  .background {
    & > .body {
      background-color: var(--bs-gray-100);
    }
  }

  #bible-list {
    .item {
      .bible {
        &:hover {
          border-color: var(--bs-gray-400);
        }
      }
    }
  }

  .presenter-foreground {
    background-color: var(--bs-gray-200);
  }

  .app-caught-hover-pointer {
    cursor: pointer;
    &:hover {
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.198);
    }
  }

  .app-found-highlight {
    color: #3d680b;
  }

  .bible-lookup-chapter-option,
  .bible-lookup-book-option {
    &:hover {
      color: #3d680b;
    }
  }

  .bible-view {
    .bible-view-text {
      .app-god-word {
        color: red;
      }
    }
  }
}
