@use './variables.scss' as *;

#app[data-bs-theme='dark'] {
  background-color: var(--bs-gray-800);
  color: white;

  // Start: Bootstrap

  .btn {
    border: 1px solid var(--bs-gray-600);
  }

  .list-group-item {
    border: 1px solid var(--bs-gray-700);

    &:not(.active):hover {
      border: 1px solid #0d6dfd83;
    }

    &.active {
      background-color: #0d6dfd2f;
      border-color: #0d6dfd3f;
    }
  }

  // End: Bootstrap

  .active .text-muted,
  .btn:hover .text-muted {
    color: rgb(75, 75, 75) !important;
  }

  & #app-header {
    .app-highlight-border-bottom {
      border-bottom: 1px solid var(--bs-gray-600);
    }
  }

  & #app-body {
    background-color: var(--bs-gray-700);
  }

  #app-context-menu-container {
    .app-context-menu {
      background-color: var(--bs-gray-600);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);

      .app-context-menu-item {
        &:hover:not(.disabled) {
          background-color: var(--bs-gray-700);
        }

        &:hover {
          background: var(--bs-gray-700);
        }
      }
    }
  }

  .app-auto-hide {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .data-vary-app-document-item {
    background-color: var(--bs-gray-800);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

    .vary-app-document-item-header {
      background-color: var(--bs-gray-800);
    }

    &.active {
      border: 1px solid rgba(0, 255, 255, 0.418);
      box-shadow: 0 1px 2px rgba(255, 255, 255, 0.048);

      .card-header {
        background-color: rgba(0, 255, 255, 0.205);
      }

      .index {
        background-color: rgba(0, 255, 255, 0.418);
      }
    }

    .index {
      background-color: rgba(85, 85, 85, 0.418);
    }
  }

  .hidden-widget {
    $bg-color: var(--bs-gray-700);
    $bg-color-hover: var(--bs-gray-600);
    $color: var(--bs-gray-800);

    background-color: $bg-color;
    background: repeating-linear-gradient(
      45deg,
      $color,
      $color 4px,
      $bg-color 2px,
      $bg-color 8px
    );

    &:hover {
      background: repeating-linear-gradient(
        45deg,
        $color,
        $color 4px,
        $bg-color-hover 2px,
        $bg-color-hover 8px
      );

      * {
        color: var(--bs-gray-100);
      }
    }

    * {
      color: var(--bs-gray-400);
    }
  }

  .presenter-manager {
    & > .body {
      background-color: var(--bs-gray-900);
    }
  }

  .app-border-white-round {
    border: 1px solid var(--bs-gray-600);
  }
  .app-border-whiter-round {
    border: 1px dashed var(--bs-gray-400);
  }

  .app-full-view {
    background-color: var(--bs-gray-900) !important;
  }

  .app-round-icon {
    background-color: var(--bs-gray-600);
  }

  $bg-color1: var(--bs-gray-700);
  $bg-color2: var(--bs-gray-800);
  .blank-bg {
    background-image:
      linear-gradient(45deg, $bg-color1 25%, $bg-color2 25%),
      linear-gradient(-45deg, $bg-color1 25%, $bg-color2 25%),
      linear-gradient(45deg, $bg-color2 75%, $bg-color1 75%),
      linear-gradient(-45deg, $bg-color2 75%, $bg-color1 75%);
  }
}
