@use '../others/variables.scss' as *;

#app-context-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-context-menu;

  .app-context-menu {
    position: fixed;
    max-width: 210px;
    min-width: 50px;
    border-radius: var(--bs-border-radius);
    padding: 10px 0;
    z-index: $z-index-context-menu + 1;
    overflow-x: hidden;
    overflow-y: auto;

    .app-context-menu-item {
      &.disabled {
        opacity: 0.4;
        cursor: not-allowed !important;
      }

      &:hover {
        .context-menu-shortcut-key {
          opacity: 0.8;
          span {
            font-size: 9px;
          }
        }
      }

      .context-menu-shortcut-key {
        position: absolute;
        right: 0;
        background: #00000059;
        padding: 0;
        margin: 0;
        border-radius: 4px;
        transform: translateY(-5px);
        opacity: 0.3;
        &:hover {
          opacity: 1;
        }
        span {
          transition: font-size 0.2s;
          padding: 0 2px;
          margin: 0;
          font-size: 8px;
        }
      }

      font-size: 14px;
      text-decoration: none;
      padding: 10px 5px;
      cursor: pointer;
      user-select: none;
      transition: 0.2s;
      position: relative;
      margin-bottom: 2px;
      font-weight: 500;
      display: flex;
      align-items: center;
      outline: none;

      span {
        margin-left: 10px;
      }
    }
  }
}
