@use '../others/variables.scss' as *;

#app-context-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-context-menu;

  .app-context-menu {
    position: fixed;
    max-width: 210px;
    min-width: 50px;
    border-radius: 4px;
    padding: 10px 0;
    z-index: $z-index-context-menu + 1;
    overflow-x: hidden;
    overflow-y: auto;

    .app-context-menu-item {
      &.disabled {
        opacity: 0.4;
        cursor: not-allowed !important;
      }

      font-size: 14px;
      text-decoration: none;
      padding: 10px 5px;
      cursor: pointer;
      user-select: none;
      transition: 0.2s;
      position: relative;
      margin-bottom: 2px;
      font-weight: 500;
      display: flex;
      align-items: center;
      outline: none;

      span {
        margin-left: 10px;
      }
    }
  }
}
