#bible-lookup-container {
  .app-pencil-bible-lookup {
    opacity: 0.2;
    &:hover {
      opacity: 1;
    }
  }

  .app-input-group-header {
    margin: auto;
    max-width: 350px;
  }

  .app-chapter-select {
    color: var(--text-color);
    width: 85px;
    font-size: 13px;
  }

  .app-render-found {
    overflow-y: auto;

    .bible-lookup-chapter-option,
    .bible-lookup-book-option {
      color: var(--text-color);
      &:hover {
        font-weight: bold;
        background-color: transparent !important;
      }
    }
  }

  .verse-select {
    .item {
      padding: 0;
      margin: 0;
    }
  }
}
