.render-found {
  .verse-select {
    .item {
      min-width: 31px;
      height: 31px;
      padding: 3px;
      margin: 1px 0;
      border-radius: 0;
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
      }

      &.selected::before {
        opacity: 0.3;
        background-color: rgb(80, 133, 0);
      }

      &.selected-start::before {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: green;
      }

      &.selected-end::before {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background-color: green;
      }
    }
  }
}
