@use 'sass:math';
@use './others/variables.scss' as *;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

#app {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  box-sizing: border-box;

  audio {
    max-height: 25px;
  }

  & * {
    user-select: none;
    box-sizing: border-box;
  }

  .app-not-selectable-text {
    user-select: none !important;
  }

  & .app-selectable-text,
  & .app-selectable-text * {
    user-select: text;
  }

  & #app-header {
    width: 100% !important;
    height: $header-height !important;
    overflow: hidden;
  }

  & #app-body {
    width: 100% !important;
    height: calc(100% - $header-height) !important;
    overflow: hidden;
    padding: 2px;
  }

  & > .footer {
    height: 5px;
    background-color: var(--bs-dark);
  }

  .flex {
    display: flex;
    overflow: hidden;

    &.h {
      flex-direction: row;
    }

    &.v {
      flex-direction: column;
    }
  }

  .app-full-view {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow-y: auto !important;
    z-index: $z-index-widget-full-view !important;
  }

  .flex-item {
    display: flex;
    position: relative;
    overflow: hidden;
    min-width: 120px;
  }

  .right {
    padding: 0;

    .card-body,
    .card-footer {
      padding: 0;
    }
  }

  .pointer {
    cursor: pointer;
  }

  .rotating {
    i:before {
      animation: rotating-hover 1s linear infinite;
    }
  }

  .rotating-hover:hover {
    i:before {
      animation: rotating-hover 1s linear infinite;
    }
  }

  .app-overflow-hidden {
    overflow: hidden;
  }

  .app-overflow-hidden-x {
    overflow-x: hidden;
  }

  .app-overflow-hidden-y {
    overflow-y: hidden;
  }

  .app-border-white-round {
    border-radius: 5px;
  }
  .app-border-whiter-round {
    border-radius: 5px;
  }

  $bg-width: 20px;

  .blank-bg {
    background-size: $bg-width $bg-width;
    background-position:
      0 0,
      0 #{math.div($bg-width, 2)},
      #{math.div($bg-width, 2)} -#{math.div($bg-width, 2)},
      -#{math.div($bg-width, 2)} 0px;
  }

  .app-ellipsis-left {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
    text-align: left;
  }

  .app-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .drag-receiving {
    background-color: green;
  }

  .highlight-color {
    color: $hight-light-color;
  }

  .app-highlight-selected {
    border: 2px dotted $hight-light-color;
    animation: app-highlight-selected-in 0.5s ease-in-out alternate;

    &.animation {
      animation-delay: 2s;
      animation-name: app-highlight-selected;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }
  }

  .hidden-widget {
    width: 100%;
    height: 100%;
    transition:
      width 0.3s,
      height 0.3s,
      background-color 0.3s;
    transition-timing-function: step-end;

    padding: 3px;
    border-radius: 5px;

    &.bar-type-v {
      height: 6px;

      &:hover {
        height: 10px;
      }
    }

    &.bar-type-h {
      width: 6px;
      writing-mode: vertical-rl;

      &:hover {
        width: 10px;

        * {
          line-height: 5px;
        }
      }
    }

    &:hover {
      * {
        font-size: 10px;
      }
    }

    *:not(.hidden-context) {
      display: none;
    }

    * {
      width: 100%;
      position: relative;
      text-align: center;
      font-size: 5px;
      transition: font-size 0.3s;
      transition-timing-function: step-end;
      padding: 0;
      margin: auto;
      line-height: 0;
    }
  }

  .app-popup-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $z-index-popup-full-screen;
  }

  .app-round-icon {
    transition: opacity 0.5s ease-out;
    opacity: 0.3;
    padding: 0 3px;
    border-radius: 3px;
    &:hover {
      opacity: 1;
    }
  }

  .app-auto-hide {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;

    & > div {
      visibility: hidden;
    }

    &.auto-hide-show {
      pointer-events: all;
      opacity: 1;
      & > div {
        visibility: visible;
      }
    }

    &.app-auto-hide-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .app-focusable {
    &:focus {
      border: 1px solid var(--bs-primary);
    }
  }

  @for $i from 0 through 10 {
    .app-top-hover-motion-#{$i} {
      .app-low-hover-visible-#{$i} {
        visibility: hidden;
      }
      .app-low-hover-display-#{$i} {
        display: none;
      }
      &:hover {
        .app-low-hover-visible-#{$i} {
          visibility: visible;
        }
        .app-low-hover-display-#{$i} {
          display: block;
        }
      }
      .app-low-hover-display-#{$i}.force-show {
        display: block;
      }
    }
  }

  .app-on-screen::before {
    content: '*';
    color: var(--app-yellow-green);
  }

  .app-inner-shadow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

@keyframes app-highlight-selected-in {
  0% {
    border-width: 2px;
  }
  50% {
    border-width: 3px;
  }
  100% {
    border: 2px;
  }
}
@keyframes app-highlight-selected {
  0% {
    border-color: $hight-light-color;
  }
  80% {
    border-color: $hight-light-color;
  }
  100% {
    border-color: transparent;
  }
}
@keyframes rotating-hover {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating-hover {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes app-live-blinking-amin {
  0% {
    color: rgb(213, 72, 154);
  }

  25% {
    color: rgb(153, 0, 89);
  }

  100% {
    color: rgb(255, 42, 166);
  }
}
