#close {
  position: fixed;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  text-align: center;
  font-size: 4rem;
  background-color: rgba(128, 128, 128, 0.219);
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
